{{ include('exercice2/product/header.html.twig') }}
<form action="/ma-page-de-traitement" method="post">
    <div>
        <label for="name">Title :</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="name">Content :</label>
        <input type="text" id="content" name="content">
    </div>
    <div>
        <label for="name">Price :</label>
        <input type="text" id="price" name="price">
    </div>
    <div>
        <label for="name">Date :</label>
        <input type="text" id="date" name="date">
    </div>
</form>